body {
  background-color: powderblue;
}
h1 {
  text-alingment: center; 
  background: linear-gradient(183deg, #6000CA 10%, #CA00CD 70%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'Impact';
  font-size: 200px;
  transform: skewY(-8deg) scaleY(1.3) scaleX(0.8);
}
